.catalog-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  padding: 0 30px;
  box-sizing: border-box;
}
.catalog-content > span{
  font-family: OpenSansBold;
  font-size: 28px;
  margin-left: 100px;
}
.catalog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 37px;
  width: 100%;
  justify-content: center;
}
.card{
  width: 288px;
  height: 467px;
  background-color: #fff;
  box-shadow: 0px 4px 27px rgba(173, 164, 148, 0.19);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.img{
  display: flex;
  width: 78%;
  height: 45%;
  background-color: #c8c8c8;
  border-radius: 10px;
  margin-top: 29px;
}
.img > img{
  display: flex;
  width: 100%;
}
.card span.card-text-name{
  font-size: 16px;
  font-family: OpenSansBold;
  margin-top: 25px;
}
.name{
  transition: width 0.5s ease;
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.name:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.name:active {
  transform: scale(2,2);
}
.card span.card-text-color{
  font-size: 15px;
  font-family: OpenSansRegular;
  margin-top: 5px;
}
.card span.card-text-price{
  font-size: 21px;
  font-family: OpenSansBold;
  margin-top: 27px;
}
.in-cart-button{
  display: flex;
  background-color: #BDB4A3;
  border-radius: 28px;
  width: 158px;
  height: 48px;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
}
.in-cart-button:hover{
  cursor: pointer;
}
.in-cart-button > span{
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .card{
    width: 197.35px;
    height: 330px;
  }
  .card span.card-text-name{
    margin-top: 15px;
    font-size: 14px;
  }
  .card span.card-text-color{
    font-size: 13px;
    margin-top: 2px;
  }
  .card span.card-text-price{
    font-size: 19px;
    margin-top: 10px;
  }
  .in-cart-button{
    border-radius: 28px;
    width: 108.27px;
    height: 33.92px;
    margin-top: 10px;
  }
  .catalog-content > span{
    margin-left: 0px;
  }
}

@media screen and (max-width: 414px) {
  .card{
    width: 100%;
    height: initial;
  }
  .img{
    height: 57%;
    margin-top: 16px;
    border-radius: 10px;
  }
  .card span.card-text-name{
    margin-top: 13px;
    font-size: 12px;
  }
  .card span.card-text-color{
    font-size: 11px;
    margin-top: 2px;
  }
  .card span.card-text-price{
    font-size: 17px;
    margin-top: 5px;
  }
  .in-cart-button{
    border-radius: 28px;
    width: 93.26px;
    height: 26.72px;
    margin-top: 6px;
    font-size: 16px;
  }
}