.footer{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  font-family: OpenSansRegular;
  font-size: 15px;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;

  /* background-color: rgba(255, 2585, 255, .7); */
}
.soc, .sotr, .ur, .phones, .geo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;
}
.text-bold{
  font-family: OpenSansBold;
  margin-bottom: 10px;
}
.icons{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer{
    flex-wrap: wrap;
    font-size: 9px;
  }
  .soc, .sotr, .ur, .phones, .geo{
    line-height: 14px;
  }
}

@media screen and (max-width: 414px) {
  .footer{
    flex-direction: : : wrap;
    font-size: 8px;
  }
  .soc, .sotr, .ur, .phones, .geo{
    line-height: 14px;
  }
}