.header{
  display: flex;
  width: 100%;
  height: 130px;
  margin-top: 24px;
  /* background-color: rgba(0, 0, 0, .1); */
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.logo{
  display: flex;
  width: 232px;
  height: 129px;
}
.nav{
  display: flex;
  flex-direction: row;
  font-family: OpenSansRegular;
  font-size: 18px;
  justify-content: space-between;
  width: 485px;
}
.nav a{
  text-decoration: none;
  color: #000;
}
.burger{
  display: none;
}

@media screen and (max-width: 768px) {
  .header{
    width: 100%;
    height: 130px;
    justify-content: space-evenly;
  }
  .nav{
    width: 50%;
  }
}

@media screen and (max-width: 414px) {
  .nav{
    display: none;
  }
  .header{
    padding: 0 10px;
    justify-content: space-between;
  }
  .logo{
    width: 150px;
    height: auto;
  }
  .logo > a > img{
    width: 150px;
    height: auto;
  }
  .burger{
    display: flex;
  }
  .btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .btn-secondary:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .btn-secondary:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .btn-secondary:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .btn-secondary:enabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }
  .dropdown-menu.show, .transformst.show {
    font-family: OpenSansRegular;
    text-align: right;
    display: flex;
    flex-direction: column;
    min-width: 10px;
    padding: 10px 20px;
  }
  .show a{
    color: #000
  }
}