.main-content{
  width: 100%;
  height: 600px;
  /* background-color: rgba(0, 0, 0, .7); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.figure-for-text{
  position: absolute;
  width: 100vw;
  height: 42vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 36px;
  font-family: NotoSerifRegular;
  margin-left: 200px;
}
.figure-for-text span{
  display: flex;
  margin-left: 95px;
  width: 465px;
}
.images-block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 138px;
}
.main-img-1{
  height: 42vh;
  width: auto;
}
.main-img-2{
  height: 65.7vh;
  width: auto;
}

@media screen and (max-width: 768px) {
  .main-content {
    width: 100%;
    height: 650px;
    flex-direction: column;
  }
  .figure-for-text{
    position: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 28px;
    width: 87.11%;
    margin-left: 0;
    height: 90px;
    justify-content: center;
    align-items: center;
  }
  .figure-for-text span{
    display: flex;
    margin-left: 0;
    width: 100%;
  }
  .images-block{
    width: 90%;
    position: absolute;
    flex-direction: column;
  }
  .main-img-1{
    height: 30vh;
    width: auto;
    margin-bottom: 90px;
    margin-left: 300px;
  }
  .main-img-2{
    height: 30vh;
    width: auto;
    margin-right: 650px;
  }
}

@media screen and (max-width: 414px) {
  .main-content{
    width: 100%;
    position: static;
  }
  .figure-for-text{
    width: 100%;
    position: static;
    font-size: 25px;
  }
  .figure-for-text > span{
    padding: 0 20px;
    font-family: NotoSerifItalic;
  }
  .images-block{
    width: 100%;
    position: absolute;
    flex-direction: column;
    margin-right: 370px;
  }
  .main-img-1{
    width: 214px;
    height: 260px;
    margin-bottom: 150px;
    margin-left: 390px;
  }
  .main-img-2{
    width: 214px;
    height: 260px;
    margin-right: 0px;
    margin-left: 70px;
  }
}