* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #4F392F;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}

.msg {
    border: 2px solid #4F392F;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.logout {
    color: #4F392F;
}
.name{
    transition: width 0.5s ease;
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.name:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.name:active {
    transform: scale(7,7);
}