{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Подробная информация</title>{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'shop/css/catalog.css' %}">{% endblock %}
{% block content %}
    <form>
        {% csrf_token %}
        {% if item %}
            <div>
                <img class='name' src={{item.image.url}} alt="logo">
            </div>
            <span class="card-text-name">{{ item.name}}</span></br>
            <span class="card-text-color">Цвет: {{ item.color}}</span></br>
            <span class="card-text-price">Цена {{ item.price}} руб.</span></br>
            <span class="card-text-descr">Описание: {{ item.description}}</span></br>
        {% else %}
            <span>Товара нет</span>
        {% endif %}
    </form>
{% endblock %}
