{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Список заказов</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/registr-content.css' %}">
{% endblock %}
{% block content %}

<h1>Список заказов</h1>

<style>
    th, td {
        padding: 10px;
    }

    th, td {
        background-color: transparent;
        /*background: #4F392F;*/
        color: #000;
        border: 2px solid #4F392F;
    }
</style>

<div class='catalog-content'>
    <div class='catalog'>
        {% if orders %}
            <h3>ФИО: {{user.first_name}} {{user.last_name}}</h3>
            <form action='' method='post'>
                {% csrf_token %}
                <div class='card1'>
                    <table>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Стоимость заказа</th>
                            <th>Статус</th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                            
                                <td>{{ order.id }}</td>
                                <td>{{ order.total }}</td>
                                <td>Обработка</td>
                                <td><a style="color: red;" href="/order_detail/{{order.id}}">Подробнее</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </form> 
        {% else %}
            <span>У вас нет оформленных заказов</span>    
        {% endif %}    
    </div> 
</div>
{% endblock %}