{% extends "shop/main.html" %}
{% load static %}
{% block title %}<title>Регистрация</title>{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'shop/css/registr-content.css' %}"> {% endblock %}
  

{% block content %}
    <div class="registr-content"> 
        <div class="imgs">
            <img src="{% static 'shop/images/reg1.jpg' %}" alt="reg1" class="reg1">
            <img src="{% static 'shop/images/reg2.jpg' %}" alt="reg2" class="reg2">
        </div>
            <form method="POST" class="form-area"> <!---->
                {% csrf_token %}
               
                {{ form}} 
            
                <button type="submit" class="but">Зарегистрироваться</button>
            </form>
     </div> 
{% endblock %}

