{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Информация о шелке</title>{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'shop/css/silk-content.css' %}">{% endblock %}
{% block content %}  
    <div class="silk-content">
        <div class="text-area">
            <span class="text-bold" style="font-size: 28px;">Шёлк</span>
            <p class="silkp1">Шёлк - единственный материал для волос, который не просто является красивым аксессуаром, но и отвечает за здоровье твоих волос. Ведь шёлковое волокно очень похоже на человеческий волос. <br>
            В нашей повседневной жизни мы используем грубые ткани по отношению к нежной структуре нашего волоса. <br>
            Волос стабильно изо дня в день цепляется за торчащие ворсинки такой ткани, что приводит к сечению.
            </p>
            <p class="silkp2">Шёлк, благодаря своим природным качествам - гладкой поверхности и атласной структуре - обеспечивает волосам мягкое скольжение по поверхности, сохраняя кутикулу волоса в здоровом состоянии. <br>
            Благодаря этому, волос начинает отливать здоровым блеском, предотвращается сечение и ломкость. <br>
            Еще одно важное свойство натурального шелка - низкая скорость поглощения влаги. <br>
            Шёлковая ткань никогда не заберёт лишние молекулы воды, поддерживая естественное увлажнение волоса и защищая от обезвоживания».
            </p>
            <p class="silkp3">Мы используем только натуральный шёлк сорта Mulberry. <br>
            Mulberry - самый высококачественный и элитный вид шёлка,не имеющий аналогов. Его выбирают те, кто с большой любовью относится к себе и своему телу.
            </p>
            <p class="silkp4">Волокна тутового шелкопряда бережно хранят в себе природные свойства, пронося их сквозь все этапы производства самого изделия. <br>
            У натурального шёлка есть своя единица измерения - момми. <br>
            Качество нашего шёлка - 16 и 19 момми, что идеально для изделий, <br>
            соприкасающихся с твоим телом. Не сомневайся, что покупая нашу продукцию из шёлка Mulberry, ты даришь большую любовь самой себе.
            </p>
        </div>
        <div class="cuticuls">
            <div class="cutic">
            <img src="{% static 'shop/images/cutic1.png' %}" alt="cutic1">
            <span>Кутикула <br> здорового волоса</span>
            </div>
            <div class="cutic">
            <img src="{% static 'shop/images/cutic2.png' %}" alt="cutic2">
            <span>Кутикула <br> повреждённого волоса</span>
            </div>
        </div>
    </div>
{% endblock %}
